<header>
  <a href="/shelters/">Shelter Index</a>
  <a href="/pets/">Pet Index</a>
</header>

<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <a href="/shelters/<%= shelter.id %>/edit">Edit Shelter</a>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>

<% end %>

<a href="/shelters/new">New Shelter</a>
