<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %> (<a href="/shelters/<%= shelter.id %>/edit">Edit Shelter</a>)</h3>
<% end %>

<a href="/shelters/new">New Shelter</a>
