<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <a href="/shelters/">Shelter Index</a>
    <a href="/pets/">Pet Index</a>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
